body{
    margin: 0;
    padding: 0;
    background:#131f30;

}
a{
    text-decoration: none;
}
button{
    background: none;
}
img{
    margin: 0 auto;
    width: auto;
    height: 100%;
}
form{
    display: inline;
    width: auto;
    height: auto;
}
.title_otherPage{
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 68px;
    color:white;
}
.main{
    min-height: 60vh;
    width: 70%;
    list-style: none;
    height: auto;
    margin: 0 auto;
    margin-top: 4%;
    padding-top: 8%;
    padding-left: 0;
    padding-bottom: 60px;
    margin-bottom: 15px;
    border-radius: 25px 25px 25px 25px;
    background-color: #ffffff80;
}
.single_paper{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1.5%;
    width: 80%;
    height: 5%;
    border-radius: 48px;
    padding: 0 14px;
    background-color: #E8E8E8;
    display: flex;
    align-items: center;
}
.paper_number{
    width: 90px;
    font-size: 18px;
    font-weight: bolder;
}
.paper_title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 0;
    margin: 0;
    width: 70%;
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
    color: black;
    background:none;
}
.collect_btn{
    height: 20px;
    width: 28px;
    margin-right: 5px;
    border: none;
    outline: none;
}
.delete_btn{
    height: 5px;
    width: 10px;
    border: none;
    outline: none;
}
.searchBox_listPage{
    position: absolute;
    top: 15%;
    right: 17.5%;
    background: #E8E8E8;
    height: 36px;
    border-radius: 36px;
    padding: 5px;
}
.searchBox_btn{
    float: right;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.searchBox_listPage:hover > form .searchBox_text{
    width: 28vh;
    padding-left:20px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);
}
.searchBox_listPage:hover > .searchBox_btn{
    background-color: white;
}
.searchBox_text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
.leftpage_btn{
    position: absolute;
    left: 15.5%;
    top: 50%;
    height: 10%;
    width: 10%;
    opacity: 0.5;
    border: none;
    outline: none;
}
.rightpage_btn{
    position: absolute;
    right: 10.5%;
    top: 50%;
    height: 10%;
    width: 10%;
    opacity: 0.5;
    border: none;
    outline: none;
}
.nextpage_btn{
    display: flex;
    justify-content: center;
    height: 36px;
    width: 100%;
    opacity: 0.5;
    border: none;
    outline: none;
    border-left: 3px rgba(0, 0, 0, 0.6) solid;
}
.lastpage_btn{
    display: flex;
    justify-content: center;
    height: 36px;
    width: 100%;
    opacity: 0.5;
    border: none;
    outline: none;
    border-right: 3px rgba(0, 0, 0, 0.6) solid;
}
.pagenumber{
    display: flex;
    justify-content: center;
    padding: 0 50px;
}
.currentpage{
    text-align: center;
    width: 36px;
}